<form
  [formGroup]="movieFormGroup"
  (ngSubmit)="createOrUpdateMovie()"
  class="movie-form__form"
>
  <mat-form-field>
    <mat-label>Rank</mat-label>
    <input matInput type="text" placeholder="Rank" formControlName="rank" />
    @if (movieFormGroup.controls["rank"].hasError("required")) {
      <mat-error> Rank is required </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" placeholder="Title" formControlName="title" />
    @if (movieFormGroup.controls["title"].hasError("required")) {
      <mat-error> Title is required </mat-error>
    }
    @if (movieFormGroup.controls["title"].hasError("badWord")) {
      <mat-error> Movie title contains "bad word" </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      matInput
      type="text"
      placeholder="Description"
      formControlName="description"
    />
    @if (movieFormGroup.controls["description"].hasError("required")) {
      <mat-error> Description is required </mat-error>
    }
  </mat-form-field>

  <div class="rating-container">
    <mat-label>Rating</mat-label>
    <star-rating-control
      [numOfStars]="9"
      formControlName="rating"
    ></star-rating-control>
  </div>
  <!-- <mat-form-field>
    <mat-label>Rating</mat-label>
    <star-rating-control formControlName="rating"></star-rating-control>
    <input
      matInput
      type="number"
      placeholder="Rating"
      formControlName="rating"
    />
    @if (movieFormGroup.controls["rating"].hasError("required")) {
      <mat-error> Rating is required </mat-error>
    }
  </mat-form-field> -->

  <mat-form-field>
    <mat-label>Genres</mat-label>
    <mat-select multiple placeholder="Genre" formControlName="genres">
      @for (option of genreOptions; track $index) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    </mat-select>
    @if (movieFormGroup.controls["genres"].hasError("required")) {
      <mat-error> Please select at least one genre </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Actors</mat-label>
    <mat-select multiple placeholder="Actors" formControlName="actors">
      @for (option of personOptions; track $index) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    </mat-select>
    @if (movieFormGroup.controls["actors"].hasError("required")) {
      <mat-error> Please select at least one actor </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Director</mat-label>
    <mat-select placeholder="Director" formControlName="director">
      @for (option of personOptions; track $index) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    </mat-select>
    @if (movieFormGroup.controls["director"].hasError("required")) {
      <mat-error> Please select at least one director </mat-error>
    }
  </mat-form-field>

  <app-date
    placeholder="Release date"
    formControlName="released"
    [title]="'Release date'"
    [required]="true"
  >
  </app-date>

  <mat-form-field>
    <mat-label>Runtime</mat-label>
    <input
      matInput
      type="number"
      placeholder="Runtime"
      formControlName="run_time"
    />
    @if (movieFormGroup.controls["run_time"].hasError("max")) {
      <mat-error> Runtime is too long </mat-error>
    }
  </mat-form-field>

  <mat-checkbox formControlName="black_and_white">Black and White</mat-checkbox>

  <br />

  <mat-card-actions align="start">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!movieFormGroup.valid"
    >
      @if (!id) {
        <span>Create</span>
      } @else {
        <span>Update</span>
      }
    </button>
  </mat-card-actions>
</form>
