# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Cache
backend_co2champion/co2champion_backend/__pycache__/
backend_co2champion/co2champion_database_app/__pycache__/
backend_co2champion/co2champion_database_app/migrations/__pycache__/

