<mat-toolbar color="primary" class="toolbar">
  <h3><mat-icon>supervised_user_circle</mat-icon>CO2Champion</h3>
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
  <button mat-button routerLink="/ranking"><mat-icon>assessment</mat-icon>Ranking</button>
  <button mat-button routerLink="/add-report"><mat-icon>note_add</mat-icon>Add Report</button>
  <button mat-button routerLink="/set-goal"><mat-icon>ballot</mat-icon>Set Goal</button>
  <button mat-button routerLink="/settings"><mat-icon>build</mat-icon>Settings</button>
  <span class="spacer"></span>
  <button mat-button routerLink="/imprint"><mat-icon>info</mat-icon>Imprint</button>
  <button mat-button routerLink="/gdpr"><mat-icon>security</mat-icon>GDPR</button>
  <button mat-button routerLink="/log-out"><mat-icon>done</mat-icon>Log Out</button>
</mat-toolbar>

<router-outlet></router-outlet>
