<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h3>Welcome to your Dashboard!</h3>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h4>CO2 Progress</h4>
      <app-line-chart [xAxisData]="xAxisData" [seriesData]="seriesData"></app-line-chart>
    </div>
    <div class="col-4">
      <h4>Overall Progress</h4>
      <app-progress-chart [value]="value" [max]="max"></app-progress-chart>
    </div>
    <div class="col-4">
      <h4>Global Rank</h4>
      <app-line-chart [xAxisData]="xAxisData" [seriesData]="seriesData"></app-line-chart>
    </div>
    <div class="row">
      <br><br><br>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col">
        <h4>CO2 Report History</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-12">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 fixed-table">
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">{{ element.title }}</td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd.MM.yyyy' }}</td>
            </ng-container>

            <!-- Emissions Reduced Column -->
            <ng-container matColumnDef="reduced_emissions">
              <th mat-header-cell *matHeaderCellDef>Emissions Reduced</th>
              <td mat-cell *matCellDef="let element">{{ element.reduced_emissions }}</td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" [routerLink]="'/edit-report/' + element.id">
                  Edit
                </button>
              </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="warn" (click)="deleteReport(element.id)">Delete</button>
              </td>
            </ng-container>

            <!-- Header & Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="reportHistoryColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: reportHistoryColumns;"></tr>
          </table>

          <!-- Paginator -->
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>