.ranking-page {
    padding: 20px;
    text-align: center;
  
    .ranking-graph {
      margin: 20px auto;
      width: 80%;
    }
  
    .ranking-table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
  
      th, td {
        padding: 10px;
        border: 1px solid #ddd;
      }
  
      th {
        background-color: #f4f4f4;
      }
    }
  }
  
  
  .gold {
    background-color: gold;
  }
  
  .silver {
    background-color: silver;
  }
  
  .bronze {
    background-color: #cd7f32; /* Bronze color */
  }
